<a href="https://colab.research.google.com/github/minit88/ML-Data_Analysis/blob/main/SK_project/EDA(bee).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pandas.io.parsers import read_csv
# 4열 행정코드
# 경남 38~
# 강원 32~
# 충남 34~



data = read_csv('/content/AnyConv.com__tb_emndn_becl_info.csv',header=None,sep=',')
size = len(data[4])

print(data)

               0             1              2             3             4   \
0    stndd_y,C,80  ctprv_n,C,80   sgng_nm,C,80  emndn_n,C,80  emndn_c,C,80
1            2020    ┤Ù└³▒ñ┐¬¢├           Á┐▒©       ãÃ¥¤1Á┐       2501055
2            2020    ┤Ù└³▒ñ┐¬¢├           Á┐▒©       ãÃ¥¤2Á┐       2501056
3            2020    ┤Ù└³▒ñ┐¬¢├           Á┐▒©        ┐Ù┐¯Á┐       2501057
4            2020    ┤Ù└³▒ñ┐¬¢├           Á┐▒©        ┤Ù├╗Á┐       2501073
..            ...           ...            ...           ...           ...
659          2020      ░µ╗¾│▓ÁÁ  ├ó┐°¢├ ┴°ÃÏ▒©        ┤÷╗ÛÁ┐       3811561
660          2020      ░µ╗¾│▓ÁÁ  ├ó┐°¢├ ┴°ÃÏ▒©        Ã│╚úÁ┐       3811562
661          2020      ░µ╗¾│▓ÁÁ  ├ó┐°¢├ ┴°ÃÏ▒©        ┐§├ÁÁ┐       3811563
662          2020      ░µ╗¾│▓ÁÁ  ├ó┐°¢├ ┴°ÃÏ▒©       ┐§Á┐1Á┐       3811564
663          2020      ░µ╗¾│▓ÁÁ  ├ó┐°¢├ ┴°ÃÏ▒©       ┐§Á┐2Á┐       3811565

               5                   6                     7   \
0    addng_c,C,80     tt_frm_,N,24,15       tt_rs__,N,24,15
1      3011055100   2.000000000000000   430.000000000000000
2      3011055200   1.000000000000000    99.000000000000000
3      3011056000   1.000000000000000   150.000000000000000
4      3011072500  12.000000000000000  1513.000000000000000
..            ...                 ...                   ...
659    4812961000   2.000000000000000   520.000000000000000
660    4812962000   5.000000000000000   399.000000000000000
661    4812963000   2.000000000000000   310.000000000000000
662    4812964000  12.000000000000000  1662.000000000000000
663    4812965000   5.000000000000000   460.000000000000000

                     8                     9                  10  \
0       ntkn___,N,24,15       imbr___,N,24,15    fxng___,N,24,15
1     0.000000000000000   430.000000000000000  0.000000000000000
2     0.000000000000000    99.000000000000000  0.000000000000000
3     0.000000000000000   150.000000000000000  0.000000000000000
4     0.000000000000000  1513.000000000000000  0.000000000000000
..                  ...                   ...                ...
659   0.000000000000000   520.000000000000000  0.000000000000000
660  13.000000000000000   386.000000000000000  0.000000000000000
661   0.000000000000000   310.000000000000000  0.000000000000000
662  14.000000000000000  1648.000000000000000  0.000000000000000
663  50.000000000000000   410.000000000000000  0.000000000000000

                    11
0      mvmn___,N,24,15
1    0.000000000000000
2    0.000000000000000
3    0.000000000000000
4    0.000000000000000
..                 ...
659  0.000000000000000
660  0.000000000000000
661  0.000000000000000
662  0.000000000000000
663  0.000000000000000

[664 rows x 12 columns]

# **인덱스변수 리스트**

In [4]:
chung_nam_idx_list = []
gang_won_idx_list=[]
gyeong_nam_idx_list=[]

In [7]:
for i in range(1,size):
  if int(data[4][i])>=3800000:
    gyeong_nam_idx_list.append(i+1)
  elif int(data[4][i])>=3400000:
    chung_nam_idx_list.append(i) 
  elif int(data[4][i])>=3200000:
    gang_won_idx_list.append(i)

print(chung_nam_idx_list) # 리스트 인덱스 정보 확인

[343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 467, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 467, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572]

# **충남**

In [14]:
total_number_of_households=0
total_breeding_munitions=0
for i in chung_nam_idx_list:
  total_number_of_households+=float(data[6][i])
  total_breeding_munitions+=float(data[7][i])

print('총사육 가구수:',total_number_of_households,'\t','총 사육 군수:',total_breeding_munitions)

총사육 가구수: 3130.0 	 총 사육 군수: 380128.0

# **강원도**

In [15]:
total_number_of_households=0
total_breeding_munitions=0
for i in gang_won_idx_list:
  total_number_of_households+=float(data[6][i])
  total_breeding_munitions+=float(data[7][i])

print('총사육 가구수:',total_number_of_households,'\t','총 사육 군수:',total_breeding_munitions)

총사육 가구수: 7156.0 	 총 사육 군수: 638620.0

# **경남**

In [16]:
total_number_of_households=0
total_breeding_munitions=0
for i in gyeong_nam_idx_list:
  total_number_of_households+=float(data[6][i])
  total_breeding_munitions+=float(data[7][i])

print('총사육 가구수:',total_number_of_households,'\t','총 사육 군수:',total_breeding_munitions)

총사육 가구수: 5997.0 	 총 사육 군수: 678262.0